.home {
	&-background {
		position: absolute;
		display: inline-block;
		width: stretch;
		height: stretch;

		background: linear-gradient(
			to top,
			rgba($backgroundColor, 1) 0%,
			rgba($backgroundColor, 0.3) 90%
		);

		&-image {
			width: stretch;
			height: stretch;
			z-index: -1;
			position: relative;
			display: block;
			object-fit: cover;
		}
	}

	&-content {
		height: stretch;
		display: flex;
		justify-content: center;
		flex-direction: column;

		&-wrapper {
			z-index: 2;
			display: flex;
			flex-direction: column;
			gap: 3rem;

			@include breakpoint-down(medium) {
				gap: 30px;
			}

			@include breakpoint-down(small) {
				height: stretch;
				justify-content: flex-end;
				gap: 0px;
			}
		}
	}

	&-text {
		&__primary {
			z-index: 2;
			font-size: 6rem;

			@include breakpoint-down(medium) {
				font-size: calc(3em + 3vw);
			}

			@include breakpoint-down(small) {
				line-height: 1.5;
				margin-bottom: 2rem;
			}
		}

		&__secondary {
			z-index: 2;
			font-size: 1.5rem;
			font-weight: 200;
			position: relative;

			@include breakpoint-down(medium) {
				font-size: calc(0.4em + 1.5vw);
				font-weight: 300;
			}

			@include breakpoint-down(small) {
				order: -1;
				margin-left: 40px;

				&::before {
					content: '';
					position: absolute;
					background-color: $accent;
					height: 2px;
					width: 30px;
					left: -40px;
					top: 50%;
				}
			}
		}
	}
}
