.projects {
	&-content {
		min-height: max-content;

		&-wrapper {
			display: flex;
			height: stretch;
			flex-direction: column;
			gap: 2rem;
		}

		&-container {
			height: stretch;
			display: grid;
			gap: 2rem;

			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: 350px 350px;

			@include breakpoint-down(medium) {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(4, 300px);
			}
		}
	}

	&-section {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;

		&__container {
			width: stretch;
			height: max-content;
			margin-top: calc($headerHeight + 2rem);
		}

		&__wrapper {
			height: stretch;

			@include breakpoint-down(small) {
				margin: 1rem 0rem;
			}
		}
	}

	&-text {
		&__primary {
			font-size: 3rem;
			position: relative;
			height: max-content;

			&::before {
				content: '';
				position: absolute;
				width: 100px;
				height: 2px;
				background-color: $accent;
				bottom: -2px;
			}
		}
	}
}
