* {
	text-decoration: none;
	list-style: none;
	font-family: 'Inter', sans-serif;
	color: $white;
	margin: 0rem;
	padding: 0rem;
	scroll-behavior: smooth;
}

body {
	background-color: $backgroundColor;
}

::-webkit-scrollbar {
	background-color: $faded-white;
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $scroller-grey;
}

.container {
	max-width: 90rem;
	padding: 0rem 2rem;

	@include breakpoint-down(small) {
		padding: 0rem 1rem;
	}
}

.hide-for-mobile {
	@include breakpoint-down(medium) {
		display: none;
		> * {
			display: none;
		}
	}
}

.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none;
		> * {
			display: none;
		}
	}
}
