$black: #000000;
$faded-black: rgba(0, 0, 0, 0.5);

$white: #ffffff;
$faded-white: rgba(255, 255, 255, 0.5);

$scroller-grey: #dbdbdb;

$accent: #ed0000;

$backgroundColor: $black;

$headerHeight: 5rem;

$height: calc(100vh - $headerHeight);
$max-height: 1000px;
